.home{
    position: absolute;
    text-align: center;
}
.aboutus{
    position:fixed;
    text-align: center;
}
.contactus{
    position: absolute;
    text-align: center;
}
.ourservices{
    position: absolute;
    text-align: center;
}